{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}

<header>
    <nav class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="container-fluid">
            <img class="logo" src="/static/images/IndeMode_Logo.png" alt="logo" height="40">
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" aria-current="page" href="/" style="color: white;" id="home-link">
                    <img class="home" src="/static/images/home_white.png" alt="home" height="24">
                </a>
                <a class="nav-link" style="color: white;" href="/mypage">
                    <img class="user" src="/static/images/user_white.png" alt="user" height="24" id="user-link">
                </a>
                <a class="nav-link" style="color: white;" href="/logout">
                    <img class="logout" src="/static/images/logout_white.png" alt="logout" height="24" id="logout-link">
                </a>
            </nav>
        </div>
    </nav>
</header>

<div class="container">

    <div class="parent-element" data-tena-id="{{ df_rent.id }}">
        <ul class="nav nav-underline justify-content-center" style="padding: 16px;">
            <li class="nav-item" style="background-color: lightgray;  border-radius: 100px; text-align: center; margin-right: 40px;">
                <a class="nav-link active" style= "padding: 8px 16px; font-weight: 700; color: darkgray;" aria-current="page" href="#" id="basicinfo-link">BasicInfo</a>
            </li>
            <li class="nav-item" style="background-color: black;  border-radius: 100px; text-align: center; margin-right: 40px;">
                <a class="nav-link active" style= "padding: 8px 16px; font-weight: 700; color: white;" aria-current="page" href="#">GeoInfo</a>
            </li>
            <li class="nav-item" style="background-color:lightgray;  border-radius: 100px; text-align: center; margin-right: 20px;">
                <a class="nav-link active" style= "padding: 8px 16px; font-weight: 700; color:darkgray;" aria-current="page" href="#" id="calc-link">Calc</a>
            </li>
        </ul>
    </div>


    <div class="container" style="border: 2px solid lightgray; border-radius: 50px;">
        <div style="padding: 40px;">
            
            <h3> Geoinfo</h3>

            <div class="row justify-content-center" style="padding: 20px;">
                <iframe class="map" srcdoc="{{ map_html }}" width="100%" height="300"></iframe>
            </div>

            
            <h5> この周辺にあるサロンの数は{{ salon_info["salon_num"] }}店舗です</h5>
            <h5>この周辺のサロンの平均カット額は{{ salon_info["salon_cutprice"] }}円です。</h5>
            <h5>この最寄りの駅は、{{ df_rent.tenantstationname }}駅で乗降者数が{{salon_info["passengernum"] }}人程度の都内で{{ salon_info["passengerrank"] }}番目に乗降者数が多い駅です。</h5>
            {% if salon_info["salon_num"] > 10 and salon_info["passengerrank"] > 50 %}
                <h5>全体的には集客がし易そうですが、競合店が多いので他店との差別化が必要そうです</h5>
            {% elif salon_info["salon_num"] > 10 and salon_info["passengerrank"] <= 50 %}
                <h5>全体的には集客性がないわりに、競合店が多いので経営には不向きな可能性が高いです</h5>
            {% elif salon_info["salon_num"] <= 10 and salon_info["passengerrank"] > 50 %}
                <h5>全体的に集客は高くないですが、競合店が少ないため地域での集客ができる場合は</br>出店を行っても軌道に乗る可能性があります</h5>
            {% elif salon_info["salon_num"] <= 10 and salon_info["passengerrank"] <= 50 %}
                <h5>全体的には集客が高く、競合店が少ないため新店舗の出店に向いている可能性が高いです！</h5>
            {% endif %}
        
        </div>

    </div>
    

</div>



{% endblock %}