{% extends "base.html" %}
{% block title %}ログインページ{% endblock %}

{% block content %}
<div class="container">

    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card mb-3" style="width: 400px;">
            <div class="card-body">
                <div class="text-center d-flex justify-content-center align-items-center" style="padding-bottom: 10px; padding-top: 10px;">
                    <h3 class="card-title">IndeMode</h3>
                </div>
                <div class="d-flex justify-content-center align-items-center"><img class="logo" src="/static/images/IndeMode_Logo.png" alt="logo" height="100" ></div>
                
    
                <form method="POST">
                    <label for="" class="form-label">ユーザー名</label>
                    <input type="text" name="username" class="form-control">
                    <label for="" class="form-label">パスワード</label>
                    <input type="password" name="password" class="form-control">
                    <div style="text-align: right;"><a class="nav-link" href="/signup">新規登録</a></div>
    
                    <div style="height: 40px;"></div>
    
                    <div class="text-center"><input type="submit" value="ログイン" class="btn " style="background-color: black; color: beige;"></div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}